@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2ded5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  padding-bottom: 0;
}

nav {
  background-color: #191919;
  position: sticky;
  z-index: 9999;
  top: 0;
}
nav .fixed-top {
  padding: 222px;
}
nav .nav-logo {
  padding: 3px;
  padding-top: 2px;
  width: 150px;
}
nav .nav-logo img {
  height: auto;
  width: 110px;
  object-fit: cover;
}
nav .nav_brand {
  display: flex;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  list-style-type: none;
  gap: 30px;
  padding-top: 15px;
}
nav li a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #FF9C00;
}
nav li a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF9C00, 0 0 50px #FF9C00, 0 0 60px #FF9C00, 0 0 80px #FF9C00, 0 0 100px #FF9C00;
  font-size: 24px;
}

.box2 div {
  display: flex;
  gap: 10px;
  padding-top: 15px;
}
.box2 div input {
  height: 30px;
  border-radius: 5px;
}
.box2 div button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
}

footer {
  background-color: #2d2f31;
  bottom: 0;
  width: 100%;
}
footer.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer.box .box_content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}
footer.box .box_content .img4 {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
footer.box .box_content .p-w {
  color: #e2ded5;
}
footer.box .box_content h4 {
  text-align: center;
  text-transform: none;
  text-decoration: none;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #e2ded5;
}

main {
  margin-top: 60px;
}
main .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  padding: 10px;
}
main .box .img {
  height: 190px;
  width: 200px;
  object-fit: contain;
}
main .box .img:hover {
  transform: scale(1.2);
  transition-duration: 0.8s;
}
main .box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 0px;
}
main .box2 .container {
  height: 100%;
  width: 40%;
  object-fit: none;
  padding: 10px;
  background-color: #e2ded5;
}
main .box3 {
  padding: 40px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  height: 250px;
}
main .box3 .box_content {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
}
main .box3 .box_content.bordes {
  border-right: 2px solid #7c7b7b;
  border-left: 2px solid #7c7b7b;
  padding: 10px;
}
main .box4 {
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
main .box4 img {
  height: 350px;
  width: 45%;
  object-fit: contain;
}
main .box4 .mapa {
  width: 100%;
  height: 350px;
  width: 45%;
  object-fit: contain;
}
main .box4 p {
  width: 45%;
}
main p {
  color: #191919;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px 20px;
}
main .p-w {
  color: #e2ded5;
  text-align: center;
}

h1 {
  padding: 15px;
  color: #FF9C00;
  text-align: center;
  text-transform: none;
  text-decoration: uppercase;
  font-size: 24px;
  font-family: sans-serif;
}
h1.gradiente {
  width: 100%;
  height: 100px;
  background-image: url(../Assets/fondo.jpg);
  padding: 30px;
  margin-bottom: 20px;
}

h2 {
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 23px;
  font-family: "Fjalla One", sans-serif;
  color: #191919;
}

h3 {
  text-align: center;
  text-transform: none;
  text-decoration: underline;
  font-size: 22px;
  font-family: "Fjalla One", sans-serif;
}

a {
  text-decoration: none;
}

.box_product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 20px 5px;
}
.box_product .product {
  height: 100%;
  width: 40%;
  object-fit: none;
  padding: 10px;
}
.box_product .grid2 {
  display: grid;
  gap: 5px;
  background-color: rgb(202, 201, 201);
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: auto;
  grid-template-areas: ". area0 area0 ." "area1 area2 area3 area4" "area5 area6 area7 area8" "area9 area10 area11 area12" ". area13 area13 .";
}
.box_product .grid2 .grid_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box_product .grid2 .grid_card .img2 {
  height: 60%;
  width: 100%;
  object-fit: contain;
}
.box_product .grid2 .grid_card .img2:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.box_product .grid2 .grid_card.b0 {
  grid-area: area0;
  text-align: center;
  justify-content: space-around;
}
.box_product .grid2 .grid_card.b1 {
  grid-area: area1;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b2 {
  grid-area: area2;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b3 {
  grid-area: area3;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b4 {
  grid-area: area4;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b5 {
  grid-area: area5;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b6 {
  grid-area: area6;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b7 {
  grid-area: area7;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b8 {
  grid-area: area8;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b9 {
  grid-area: area9;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b10 {
  grid-area: area10;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b11 {
  grid-area: area11;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b12 {
  grid-area: area12;
  text-align: center;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box_product .grid2 .grid_card.b13 {
  grid-area: area13;
  text-align: center;
  justify-content: space-around;
}
.box_product .grid2 .grid_card .card-body {
  padding: 20px;
}
.box_product .grid2 .grid_card .card_titulo {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box_product .grid2 .grid_card .card_precio {
  font-size: 16px;
  margin-bottom: 10px;
}
.box_product .grid2 .grid_card .card_button {
  display: inline-block;
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.grid {
  margin: 10px 25px;
  padding: 5px;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: auto;
  grid-template-areas: "area0 area1 area2" "area3 area4 area5" "area6 area6 area6";
}
.grid .box_grid.b0 {
  grid-area: area0;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b1 {
  grid-area: area1;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b2 {
  grid-area: area2;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b3 {
  grid-area: area3;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b4 {
  grid-area: area4;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b5 {
  grid-area: area5;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid.b6 {
  grid-area: area6;
  text-align: center;
}
.grid .box_grid.b7 {
  height: 300px;
}
.grid .box_grid .img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

main table {
  background-color: rgb(128, 150, 142);
}

.formu-tam {
  text-align: left;
  height: 40px;
  width: 213px;
  object-fit: none;
  border-radius: 4px;
  padding-left: 5px;
}

.formu-textotarea {
  padding-top: 5px;
  padding-left: 5px;
  width: 52%;
  border-radius: 4px;
}

form.bg {
  background-image: linear-gradient(rgba(245, 245, 245, 0.5019607843), black), url(../Assets/banner2.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 380px) and (max-width: 768px) {
  .nav-logo {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .nav-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
  }
  .nav_brand {
    font-size: 10px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    display: flex;
  }
  .nav_brand li a {
    font-size: 20px;
  }
  nav .box2 {
    display: flex;
    flex-direction: row;
  }
  main .box2 {
    flex-wrap: nowrap;
  }
  main .box_product {
    flex-wrap: nowrap;
  }
  main .box_product .grid2 {
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 45%);
    gap: 10px;
    grid-template-areas: "area0 area0 " "area1 area2 " " area3 area4 " " area5 area6 " "area7 area8" "area9 area10" " area11 area12" " area13 area13";
  }
  .box {
    flex-direction: column;
    text-align: center;
  }
  main .box4 {
    flex-direction: column;
  }
  main .box4 p {
    width: 90%;
  }
  main .box4 iframe {
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main .box4 img {
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main .box4 .mapa {
    width: 100%;
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main section .box {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2 " "area3 area4 " "area5 area6";
  }
  main section .box a img {
    width: 90%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer.box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .nav_brand {
    font-size: 10px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    display: flex;
  }
  .nav_brand li a {
    font-size: 16px;
  }
  .nav-logo {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 120px;
    justify-content: center;
    align-items: center;
  }
  .nav-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  nav .box2 {
    padding: 0px;
    flex-direction: row;
    gap: 5px;
  }
  main section .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  main .box4 {
    display: flex;
    flex-direction: column;
  }
  main .box4 p {
    width: 90%;
  }
  main .box4 iframe {
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main .box4 img {
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main .box4 .mapa {
    width: 100%;
    height: 350px;
    width: 90%;
    object-fit: contain;
  }
  main .box_product .product {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
  }
  main .box_product .product ul li {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  main .box_product .grid2 {
    justify-content: space-evenly;
    grid-template-columns: repeat(1, 90%);
    gap: 10px;
    width: 55%;
    grid-template-areas: "area0 " "area1 " "area2 " "area3 " "area4 " "area5 " "area6 " "area7 " "area8 " "area9 " "area10 " "area11" "area12 " "area13 ";
  }
  main .box_product .grid2 .box_grid2.c14 {
    width: 30px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer.box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=Style.css.map */
