@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2ded5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding-bottom: 0;

}

/*-----------nav*-----------*/
header {
    background-color: rgb(31, 28, 28);
    position: sticky;
    z-index: 9999;
    top: 0;
}

.nav-logo {
    padding-left: 40px;
    padding-top: 2px;
    width: 150px;

}

.nav-logo img {
    width: 100%;
    height: auto;

}

nav {
    background-color: #191919;
    padding: 5px 12px;
}

nav div button {
    height: 30px;
}

nav div input {
    height: 30px;

    margin: 0px 3px;
    border-radius: 5px;
}

nav ul li a {
    font-family: 'Source Sans Pro', sans-serif;    
    text-decoration: none;
    color: #f7a50d;

}

nav ul li a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9C00, 0 0 70px #FF9C00, 0 0 80px #FF9C00, 0 0 100px #FF9C00, 0 0 150px #FF9C00;
    font-size: 24px;
}

.nav_brand {
    display: flex;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    list-style-type: none;
    gap: 30px;
    padding-top: 15px;
}

/*------main---------*/

.bg {
    background-image: url(../Assets/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: space-between;
}


.box2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
}

.box3 {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    height: 250px;
}

.bordes {
    border-right: 2px solid rgb(124, 123, 123);
    border-left: 2px solid rgb(124, 123, 123);
    padding: 10px;

}

.container1 {
    width: 40%;
    height: 100%;
    padding: 10px;
    background-color: #e2ded5;
}

.box_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.img {
    height: 190px;
    width: 200px;

}

.img:hover {
    transform: scale(1.2);
}

.img2 {
    height: 165px;
    width: 150px;
}

.img2:hover {
    transform: scale(1.2);
}

.img3 {
    width: 100%;
    height: 500px;
}

.img4 {
    width: 30px;
    height: 30px;
}

.img5 {
    width: 100%;
    height: 600px;
}

p {
    color: #080808;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

.p-w {
    color: #e2ded5;
}

h1 {
    padding: 15px;
    color: #f7a50d;
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    font-size: 24px;
}

h2 {
    text-align: center;
    color: #080808;
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

h3 {
    text-align: center;
    font-size: 22px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    color: #e2ded5;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.formu-tam {
    text-align: left;
    height: 40px;
    width: 213px;
    border-radius: 4px;
    padding-left: 5px;

}

.formu-textotarea {
    padding-top: 5px;
    padding-left: 5px;
    width: 52%;
    border-radius: 4px;
}

.mapa {
    padding-right: 30px;
    width: 546px;
    height: 350px;
}

.grid {
    margin: 10px 0px;
    padding: 5px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2'
        'area3 area4'
        'area5 area5'
    ;
}

.grid2 {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: auto;
    grid-template-areas:
        '. area0 area0 .'
        'area1 area2 area3 area4'
        'area5 area6 area7 area8'
        'area9 area10 area11 area12'
        '. area14 area14 .'
    ;
}

.box_grid {
    width: 100%;
    height: 600px;
}

.box_grid2 {
    width: 100%;
}

.c0 {
    grid-area: area0;
    text-align: center;

}

.c1 {
    grid-area: area1;
}

.c2 {
    grid-area: area2;
}

.c3 {
    grid-area: area3;
}

.c4 {
    grid-area: area4;
}

.c5 {
    grid-area: area5;
    height: 300px;
}

.c52 {
    grid-area: area5;
}

.c6 {
    grid-area: area6;

}

.c7 {
    grid-area: area7;

}

.c8 {
    grid-area: area8;

}

.c9 {
    grid-area: area9;

}

.c10 {
    grid-area: area10;

}

.c11 {
    grid-area: area11;
}

.c12 {
    grid-area: area12;

}

.c14 {
    grid-area: area14;
}

/*-------Mediaqueries-------*/
@media screen and (min-width:380px) and (max-width:768px)  {
nav ul li a {
    font-size: 20px;
}
.grid2 {
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: auto;
    grid-template-areas:
        '. area0 .'
        'area1 area2 area3'
        'area4 area5 area6' 
        'area7 area8 area9' 
        'area10 area11 area12'
        '. area14 .'
    ;
}

.box {
    flex-direction: column;
    text-align: center;
}

.nav_brand {
    font-size: 10px;
    width: 100%;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    display: flex;
}

.nav-logo {
    padding: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;

}

.nav-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}
main section .box {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: auto;
    grid-template-areas:
        '. area0 .'
        'area1 area2 area3'
        'area4 area5 area6' 
        'area7 area8 area9' 
        'area10 area11 area12'
        '. area14 .'
    ;
}
main section .box a img{
    width: 100%;

}
nav .box2 {
    display: flex;
    flex-direction: row;
}
.box2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px ;
    padding-bottom: 5px;
}

.img3 {
    height: 300px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
footer .box_content {
    width: 100%;
    padding: 15%;
    padding-top: 2px;
    padding-bottom: 2px;
}
}




@media (max-width:480px) {

    nav ul li a {
        font-size: 16px;
    }

    .grid2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    main section .box {
        display: flex;
    flex-direction: column;
    }
    main .box2 .container1{
        padding: 10%;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
    }
    main .box2 .container1 ul li{
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .box {
        flex-direction: column;
        text-align: center;
    }

    .nav_brand {
        font-size: 10px;
        width: 100%;
        gap: 5px;
        padding: 5px;
        justify-content: center;
        display: flex;
    }

    .nav-logo {
        padding: 30%;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;

    }

    .nav-logo img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

    }

    nav .box2 {
        padding: 0px;   
        flex-direction: row;
        gap: 5px;
    }

    .box2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img3 {
        height: 300px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    footer .box_content {
        width: 100%;
        padding: 15%;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

/*-------footer---------*/
footer {
    background-color: rgb(45, 47, 49);
    bottom: 0;
    width: 100%;
}