.formu-tam {
    text-align: left;
    @include img(40px, 213px, none);
    border-radius: 4px;
    padding-left: 5px;
}

.formu-textotarea {
    padding-top: 5px;
    padding-left: 5px;
    width: 52%;
    border-radius: 4px;
}


form {
    &.bg {
        background-image: linear-gradient(#f5f5f580, black), url(../Assets/banner2.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}